.DS_Store
.AppleDouble
__pycache__/
*.py[cod]
*.so
.venv/
.env
.env.*
.python-version
pip-wheel-metadata/
*.egg-info/
.pytest_cache/
.mypy_cache/
.ruff_cache/
dist/
build/
coverage/
.coverage
htmlcov/
.idea/
.vscode/
*.log
